html,body{
  padding: 0;
  margin: 0;
}
.icon {
  width: 50px;
  height: 50px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.userPhoto {
display: flex;
flex-direction: row;
align-items: center;
font-size: 16px;
}
.navBar{
  position: fixed;
  top: 0;
  width: 100%;
}
.tabBar{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.tabBar svg {
  width: 30px;
  height: 30px;
}

.main{
  padding: 45px 4px;
}


.chat{
  position: relative;
}
.chat .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  border-top: 1px solid saddlebrown;
}
.chat .header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.chat .msgList {
  padding-bottom: 45px;
}
.chat .am-list-content {
  display: inline-block !important;
  flex: none !important;
  width: auto;
  max-width: 60% !important;
  border-radius: 5px;
  min-height: 30px;
  padding: 5px 10px;
  min-width: 30px;
  margin: 10px 0;
  background-color: saddlebrown;
  white-space:pre-wrap !important;
}
.chat .am-list-body::after {
  display: none !important;
}
.chat .msgList .am-list-item {
  padding-left: 0;
}
.chat .msgList .am-list-line {
  padding-right: 0;
  display: inline-block;
}
.chatMe .am-list-line {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start !important;
}
.chatMe .am-list-line .am-list-extra {
  flex-basis:15%;
}
.chatMe .am-list-content {
  background-color: #00FF00;
}
.chat .am-list-item {
  align-items: flex-start !important;
}
.chatList .am-list-extra {
  padding-bottom: 13px !important;
}
.rightNav>span{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: darkkhaki;
}